#ifndef TMPL_H
#define TMPL_H

#include <wx/wxprec.h>

#ifndef WX_PRECOMP
	#include <wx/wx.h>
#endif

//make a new frame class; must derive from wxFrame
class TMPL : public wxFrame{
public:
	//declare constructor with title parameter
	TMPL(const wxString& title);
};

#endif
