#ifndef _TMPL_H_
#define _TMPL_H_

#include <wx/wxprec.h>

#ifndef WX_PRECOMP
	#include <wx/wx.h>
#endif

//make a new frame class; must derive from wxFrame
class cTmpl : public wxFrame{
public:
	//declare constructor with title parameter
	cTmpl(const wxString &rtitle);
};

#endif
